{# This file is used to generate the HTML Mail to send #}
<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <p>Mail de relance</p>
        <p>{{ message }}</p>
    </body>
</html>
