{% extends 'IutDossiersBundle::base.html.twig' %}

{% set title = "Liste des pièces" %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Libellé</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for piece in pieces %}
                                <tr>
                                    <td>{{ piece.libelle }}</td>
                                    <td>
                                        <a href="#" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                                        <a href="{{ path('piece_supprimer', {'id': piece.id}) }}" class="btn btn-danger" onclick="confirmDelete();">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
