{% extends 'IutDossiersBundle::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>{{ mail.titre | capitalize }}</h1>

            <p>{{ mail.message | nl2br }}</p>

            <a href="{{ path('modele-mail_modifier', {'id': mail.id}) }}" class="btn btn-primary">
                <span class="fa fa-pencil" aria-hidden="true"></span>
            </a>

            <a href="{{ path('modele-mail_supprimer', {'id': mail.id}) }}" class="btn btn-danger" onclick="confirmDelete();">
                <span class="fa fa-remove" aria-hidden="true"></span>
            </a>
        </div>

    </div>

{% endblock %}