{% extends 'IutDossiersBundle::base.html.twig' %}

{% block body %}

    

    <div class="row">
        
        

        <div class="col-md-8 col-md-offset-2">
            
            <h1>Modeles de mails</h1>

            <table class="table table-responsive">
                <tr>
                    <h4>
                        Titre
                    </h4>
                </tr>
                <tr>
                    <td>Email1</td>
                </tr>
                <tr>
                    <td>Email2</td>
                </tr>
            </table>

        </div>
        
    </div>

{% endblock %}