{% extends 'IutDossiersBundle::base.html.twig' %}

{% block body %}

    <h1>Etats des dossiers administratifs</h1>

    <br>
    <br>
    
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <table class="table table-bordered">
                <tr>
                    <td>
                        <strong>Nom</strong>
                    </td>
                    <td>
                        <strong>Prenom</strong>
                    </td>
                    <td>
                        <strong>E-mail</strong>
                    </td>
                </tr>
                <tr class="success">
                    <td>Tyler</td>
                    <td>Durden</td>
                    <td>@</td>
                </tr>
                <tr class="warning">
                    <td>Jill</td>
                    <td>Smith</td>
                    <td>@</td>
                </tr>
                <tr class="danger">
                    <td>Eve</td>
                    <td>Jackson</td>
                    <td>@</td>
                </tr>
            </table>
        </div>

        <div class="col-md-2"></div>
    </div>

{% endblock %}