{% extends 'IutDossiersBundle::base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Etats des dossiers administratifs</h1>
            <table class="table table-bordered">
                <tr>
                    <th> Nom</th>
                    <th>Prenom</th>
                    <th>E-mail</th>
                </tr>
                <tr class="success">
                    <td>Tyler</td>
                    <td>Durden</td>
                    <td>@</td>
                </tr>
                <tr class="warning">
                    <td>Jill</td>
                    <td>Smith</td>
                    <td>@</td>
                </tr>
                <tr class="danger">
                    <td>Eve</td>
                    <td>Jackson</td>
                    <td>@</td>
                </tr>
            </table>
        </div>
    </div>

{% endblock %}