{% extends 'IutDossiersBundle::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Hover Data Table</h3>
                </div>

                <div class="box-body">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>E-mail</th>
                            <th>Formations</th>
                        </tr>
                        {% for vacataire in vacataires %}
                            <tr>
                                <td>{{ vacataire.nom }}</td>
                                <td>{{ vacataire.prenom }}</td>
                                <td>{{ vacataire.mail }}</td>
                                <td>
                                    {% for formation in vacataire.formations %}
                                        {{ formation.libelle }}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}